<h1>Location PDF</h1>
<p>Location details:</p>
<ul>
    <li>ID: {{ location.id }}</li>
    <li>Start Date: {{ location.startDate|date('Y-m-d') }}</li>
    <li>End Date: {{ location.endDate|date('Y-m-d') }}</li>
  
</ul>